@import url("../partials/scrollbar.css");

.main {
    -fx-background-color: #24A1DE;
    -fx-background-radius: 10px
}

* {
    -fx-background-radius: 10px;
}

.btn_setting:hover {
    -fx-opacity: 0.3;
}


.room-item{
    -fx-background-color: white !important;

}

.room-item:hover{
    -fx-background-color: rgb(200, 200, 200) !important;
    -fx-cursor: hand;
}

.main-vbox{
    -fx-border-color: transparent;

}

.scroll-pane * {
    -fx-background-color: transparent;

}

.scroll-pane {
    -fx-background-color: transparent;
}


